@model IEnumerable<ElectionApp.Models.Candidate>
@{
    ViewBag.Title = "ballotpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>MES Elections</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

    <h2 class="h1">Your Vote, Your Voice</h2>


    <div class="container">
        <div class="page-header">
            <h1>
                Cast Your Vote <br />
                <small>Make it Confidential</small>

            </h1>
        </div>
     </div>
<div class="panel-heading">
    <h2 class="btn-primary">
        <span ></span> President
    </h2>
</div>

@foreach (var candidate in Model)
{
    if (@candidate.Post == "President")
    {
        <li class="list-group-item">
                    @Html.Label(candidate.Name) &nbsp; &nbsp;&nbsp;&nbsp; <input value="1" type="radio" id="presRb" onclick="VotePres(@candidate.Id);" name="President" />
        </li>
    }
 }


<div class="panel-heading">
    <h2  class="btn-primary">
        <span ></span> Vice President
    </h2>
</div>

@foreach (var candidate in Model)
{
    if (@candidate.Post == "Vice President")
    {
        <li class="list-group-item"> 
               @Html.Label(candidate.Name) &nbsp; &nbsp;&nbsp;&nbsp; <input value="1" type="radio" id="VPRb" onclick="VoteVice(@candidate.Id)" name="Vice President" />
        </li>
    }
}
<br />
<br />
<div class="col-sm-offset-4">
  <button class="btn btn-primary" onclick="location.href='@Url.Action("tallypage", "Election")'">Vote </button>
</div>

